# Node dependencies
/node_modules/

# Build output
/public/build/


# Logs
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db

# Coverage directory
coverage/

# Miscellaneous
dist/
